<%- include("template/cabecera", {tituloWeb: 'Panel de Administración' }) %>
    
    <div class="row cuerpo_principal">
        <div class="col "><h1>hola</h1></div>    
            <div class="col-8 container">
                <br>
                <br>
                <br>
                <a class="btn btn-success btn-block my-4" href="/tienda/crearItem">Crear nuevo item</a>
                
                <br>
                <div class="card-group">
                <% if (arrayTiendaDB.length> 0) { %>
                    
                    <% var test=0; %> 
                    <% arrayTiendaDB.forEach(tienda => { %>   
                        <% console.log(test) %>
                        <% if(test>=4){ %>
                            <% test=0;%>
                            </div>
                            <div class="card-group">
                            <div class="card tarjetaGuias" style="width: 18rem;">
                                
                                <div class="card-body">
                                    <img src="<%= tienda.img %>" class="fotoResumenGuia"/>
                                    <h5 class="card-title"><%= tienda.nombre %></h5>
                                    <p class="card-text"><%= tienda.precio %>€</p>
                                    <button class="botonGaleria" onclick="carrito('<%= tienda.nombre %>',' <%= tienda.precio %>')">Añadir al carrito</button>
                                </div>
                            </div>
                        <% } else{ %>  
                            <div class="card tarjetaGuias" style="width: 18rem;">
                                <div class="card-body">
                                    <img src="<%= tienda.img %>" class="fotoResumenGuia"/>
                                    <h5 class="card-title"><%= tienda.nombre %></h5>
                                    <p class="card-text"><%= tienda.precio %>€</p>
                                    <button class="botonGaleria" onclick="carrito('<%= tienda.nombre %>',' <%= tienda.precio %>')">Añadir al carrito</button>
                                </div>
                            </div>
                        <% } %>
                        <% test++;%> 
                    <% }) %>            
                <% } %>
                </div>
                </div>
                <div class="col carrito_compra ">
                    <br>
                    <br>
                    <br>
                    <h1 >Cesta:</h1>
                    
                    <h3 >Articulo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Precio</h3>
                    <hr class="tituloCarrito">
                    <h1 id="totalCompra" class="totalCompra"></h1>
                    <button class="comprar"  onclick="comprar()">Comprar</button>
                </div> 
            </div>        
        </div>
       
    </div>
    <script>
        var total=0;
        function carrito($text,$precio){
            total=parseInt(total)+parseInt($precio);
            $( ".carrito_compra" ).append($text+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "+$precio+"€");
            document.getElementById("totalCompra").innerHTML=("Total: "+total+" €");
            $( ".carrito_compra" ).append("<br>");
            
        }
        function comprar(){
            location.reload();
            alert("Compra Realizada");
        }



    


    </script>
    <%- include("template/footer") %>