<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Utily3dPrints</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" href="/">Utily3dPrints</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="gallery_nolog">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="guides_nolog">Guias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop_nolog">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../login">Log-In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>

<div class="container">
  <br />
  <br />
  <br />
  Compartimos tutoriales sobre:
  <br />
  <div id="contenido" class="card-group">
    <% if (arrayGuiasDB.length> 0) { %> <% var test=0; %> <% arrayGuiasDB.forEach(guias => { %> <%
    console.log(test) %> <% if(test>=4){ %> <% test=0;%>
  </div>
  <div id="contenido2" class="card-group contenido">
    <div
      class="card tarjetaGuias"
      style="width: 18rem"
      onclick="myFunction('<%= guias.nombre %>','<%= guias.texto %>','<%= guias.video %>')"
    >
      <div class="card-body">
        <h5 class="card-title"><%= guias.nombre %></h5>
        <img src="/public/<%= guias.img %>" class="fotoResumenGuia" />
        <p class="card-text"><%= guias.resumen %></p>
      </div>
    </div>
    <% } else{ %>
    <div
      class="card tarjetaGuias"
      style="width: 18rem"
      onclick="myFunction('<%= guias.nombre %>','<%= guias.texto %>','<%= guias.video %>')"
    >
      <div class="card-body">
        <h5 class="card-title"><%= guias.nombre %></h5>
        <img src="/public/<%= guias.img %>" class="fotoResumenGuia" />
        <p class="card-text"><%= guias.resumen %></p>
      </div>
    </div>
    <% } %> <% test++;%> <% }) %> <% } %>
  </div>
  <div class="div1001">
    <h2 id="tituloContenido"></h2>
    <p id="nuevoContenido"></p>
    <p id="video"></p>
    <div id="volver"></div>
  </div>
</div>
<script>
  console.log(localStorage.getItem('carrito'));
  function myFunction($nombre, $texto, $video) {
    $('.div1001').hide();
    document.getElementById('contenido').style.display = 'none';
    document.getElementById('contenido2').style.display = 'none';
    document.getElementById('tituloContenido').innerHTML = $nombre;
    document.getElementById('nuevoContenido').innerHTML = $texto + '<br>' + $video;
    document.getElementById('volver').innerHTML = `<a href="/guias">Volver</a>`;
    $('.div1001').show();
  }
</script>
<%- include("template/footer") %>
